<head>
    <title>TheSpiceNet</title>
    <link rel="stylesheet" href="/views/Css/homepage.css">

</head>
<div id="nav_shadow"></div>
<div id="nav_bar">
    <div id="right">
        <img src="https://res.cloudinary.com/dtg5jkrv7/image/upload/v1622303085/logo.svg"
            id="logo">
        <span id="company_name">TheSpiceNet
        </span>
    </div>

    <div id="left">
        <a href="/Cart" class="nav_link">
            <button type="submit">Cart
            </button>
        </a>&emsp;
        <a href="/signup" class="nav_link">
            <button type="submit">Register
            </button>
        </a>&emsp;
        <a href="/login" class="nav_link">
            <button type="submit">Login
            </button>
        </a>
    </div>
</div>
</div>
<div id="content">
    <p id="heading_text_1">Safe Food</p>
    <p id="heading_text_2">Delivery</p>
    <p id="heading_text_3">Welcome to TheSpiceNet<br>We find the best and the nearest restaurant in your locality
        with <br>amazing food service according to the users rating.</p><br>
    <a href="#heading_text_4" id="order_link"><button type="submit">Order Now</button></a><br>
</div>
<center>

    <h3 id="heading_text_4">Your Favorite food delivery with TheSpiceNet <i class="fas fa-hamburger"></i></h3>
    <form method="POST" enctype="multipart/form-data" id="searchbar_form">
        <input type="Search" name="Search" class="form-control" id="searchbar">
        <button type="submit" id="search_button"><i class="fa fa-search" id="search_icon"></i></button><br>
    </form>
</center>

<footer>
    <div class="column">
        <a class="footer_title">TheSpiceNet</a>
        <a>Support and become a member of TheSpiceNet family and follow us on different social media platform to get the
            latest news about new opening restaurnats.</a>
        <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" title="Instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="column">
        <a class="footer_title">OTHER LINKS</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Ticket</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="column">
        <a class="footer_title">SHORT CUT</a>
        <a href="">Our Services</a>
        <a href="">Our Blog</a>
        <a href="">Our Projects</a>
        <a href="">About Us</a>
    </div>
    <div class="column">
        <a class="footer_title">LATEST NEWS</a>
        <a href="" title="Lorem ipsum dolor sit amet"><img src="https://source.unsplash.com/50x50/?green,trees"></a>
        <a href="" title="Lorem ipsum dolor sit amet"><img src="https://source.unsplash.com/50x50/?green,tree"></a>
        <a href="" title="Lorem ipsum dolor sit amet"><img src="https://source.unsplash.com/50x50/?green,plant"></a>
        <a href="" title="Lorem ipsum dolor sit amet"><img src="https://source.unsplash.com/50x50/?green,forest"></a>
        <a href="" title="Lorem ipsum dolor sit amet"><img
                src="https://source.unsplash.com/50x50/?green,afforestation"></a>
    </div>
    <div class="column">
        <a class="footer_title">GET IN TOUCH</a>
        <a title="Address"><i class="fa fa-map-marker"></i> 007, street, province/state, country - zipcode</a>
        <a href="emailto:" title="Email"><i class="fa fa-envelope"></i> email@serviceprovider.domain</a>
        <a href="tel:" title="Contact"><i class="fa fa-phone"></i> +(x)-xxxx-xxxxx</a>
    </div>

    <div class="sub-footer">
        © CopyRights 2021 TheSpiceNet || All rights reserved
    </div>
</footer>
<script>
    nav_left = document.getElementById("left");
    menu = document.getElementById("logout_menu");
    if ("{{login}}" == "true") {
        nav_left.innerHTML = `
<a href="#" class="nav_link" style="width:300px">
    <button type="submit"> Welcome  &emsp;{{username}} <div id=img_cover style="background-image:url({{imgUrl}})"></div>
</button>
</a>&emsp;
<form class="nav_link" method="post" action="/logout">
   <button type="submit" id="login_form" >LogOut
</button>
</form>
`
    }

</script>