<head>
    <title>TheSpiceNet</title>
    <link rel="stylesheet" href="/views/Css/homepage.css">
</head>
<div id="nav_shadow"></div>
<div id="nav_bar">
    <div id="right">
        <img src="https://res.cloudinary.com/dtg5jkrv7/image/upload/v1622303085/logo.svg" id="logo">
        <span id="company_name">TheSpiceNet
        </span>
    </div>

    <div id="left">
        <a href="/Cart" class="nav_link">
            <button type="submit">Cart
            </button>
        </a>&emsp;
        <a href="/signup" class="nav_link">
            <button type="submit">Register
            </button>
        </a>&emsp;
        <a href="/login" class="nav_link">
            <button type="submit">Login
            </button>
        </a>
    </div>
</div>
</div>
<div id="content">
    <p id="heading_text_1">Safe Food</p>
    <p id="heading_text_2">Delivery</p>
    <p id="heading_text_3">Welcome to TheSpiceNet<br>We find the best and the nearest restaurant in your locality
        with <br>amazing food service according to the users rating.</p><br>
    <a href="#heading_text_4" id="order_link"><button type="submit">Order Now</button></a><br>
</div>
<center>

    <h3 id="heading_text_4">Your Favorite food delivery with TheSpiceNet <i class="fas fa-hamburger"></i></h3>
    <div id="searchbar_form">
        <input type="Search" name="Search" class="form-control" id="searchbar">
        <span id="search_button" onclick="showresult()"><i class="fa fa-search" id="search_icon"></i></span><br>
    </div>
</center>
<div id="grid_result">
</div>

<footer>
    <div class="column">
        <a class="footer_title">TheSpiceNet</a>
        <a>Support and become a member of TheSpiceNet family and follow us on different social media platform to get the
            latest news about new opening restaurnats.</a>
        <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" title="Instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="column">
        <a class="footer_title">OTHER LINKS</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Ticket</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="column">
        <a class="footer_title">SHORT CUT</a>
        <a href="">Our Services</a>
        <a href="">Our Blog</a>
        <a href="">Our Projects</a>
        <a href="">About Us</a>
    </div>
    <div class="column">
        <a class="footer_title">LATEST NEWS</a>
        <a href="" title="Lorem ipsum dolor sit amet"><img src="https://source.unsplash.com/50x50/?green,trees"></a>
        <a href="" title="Lorem ipsum dolor sit amet"><img src="https://source.unsplash.com/50x50/?green,tree"></a>
        <a href="" title="Lorem ipsum dolor sit amet"><img src="https://source.unsplash.com/50x50/?green,plant"></a>
        <a href="" title="Lorem ipsum dolor sit amet"><img src="https://source.unsplash.com/50x50/?green,forest"></a>
        <a href="" title="Lorem ipsum dolor sit amet"><img
                src="https://source.unsplash.com/50x50/?green,afforestation"></a>
    </div>
    <div class="column">
        <a class="footer_title">GET IN TOUCH</a>
        <a title="Address"><i class="fa fa-map-marker"></i> 007, street, province/state, country - zipcode</a>
        <a href="emailto:" title="Email"><i class="fa fa-envelope"></i> email@serviceprovider.domain</a>
        <a href="tel:" title="Contact"><i class="fa fa-phone"></i> +(x)-xxxx-xxxxx</a>
    </div>

    <div class="sub-footer">
        © CopyRights 2021 TheSpiceNet || All rights reserved
    </div>
</footer>


<script defer>
    nav_left = document.getElementById("left");
    gridresult = document.getElementById("grid_result");
    searchBar = document.getElementById("searchbar");
    let resCharacters = [];

function finditem(element) {
  var str = ["carrot","broccoli","asparagus","cauliflower","corn","cucumber","green pepper","lettuce","mushrooms","onion","potato","pumpkin","red pepper","tomato","beetroot","brussel sprouts","peas","zucchini","radish","sweet potato","artichoke","leek","cabbage","celery","chili","garlic","basil","coriander","parsley","dill","rosemary","oregano","cinnamon","saffron","green bean","bean","chickpea","lentil","apple","apricot","avocado","banana","blackberry","blackcurrant","blueberry","boysenberry","cherry","coconut","fig","grape","grapefruit","kiwifruit","lemon","lime","lychee","mandarin","mango","melon","nectarine","orange","papaya","passion fruit","peach","pear","pineapple","plum","pomegranate","quince","raspberry","strawberry","watermelon","salad","pizza","pasta","popcorn","lobster","steak","bbq","pudding","hamburger","pie","cake","sausage","tacos","kebab","poutine","seafood","chips","fries","masala","paella","som tam","chicken","toast","marzipan","tofu","ketchup","hummus","chili","maple syrup","parma ham","fajitas","champ","lasagna","poke","chocolate","croissant","arepas","bunny chow","pierogi","donuts","rendang","sushi","ice cream","duck","curry","beef","goat","lamb","turkey","pork","fish","crab","bacon","ham","pepperoni","salami","ribs"
]
var result="";
for(var i=0;i<=str.length-1;i++){
    if(result==element){
        result=str[i-1]
        break;
    }
    else if(str[i].search(element[0])==0){
        for(var j=0;j<=element.length-1;j++){
            if(str[i].search(element[j])==j){
               result+=str[i][j];
            }
            else{
                result="";
                break;
            }
        }
    }
}
console.log(result)
return result;                           
}

    function showresult() {
        fetch(`https://forkify-api.herokuapp.com/api/search?q=${finditem(searchBar.value)}`, {
            headers: {
                "user-key": "e9a9a227cb3e9ec3bb1ce2a29b907199",
                "Content-Type": "application/json"
            }
        })
            .then(response => response.json())
            .then((data) => {
                gridresult.innerHTML=` `;
                for(var i=0; i<=8 ;i++){
                gridresult.innerHTML += `<div class="card" id="grid_card"style="width: 18rem;">
                <img class="card-img-top" src="${data.recipes[i].image_url}" style="object-fit: cover;
                height:200px" alt="Image not availabe">
                <div class="card-body">
                    <h5 class="card-title">${data.recipes[i].title}</h5>
                    <p class="card-text">Publisher<br> ${data.recipes[i].publisher}</p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
                </div>`
                }
                 console.log(data)
                  })
        
    }





    if ("{{login}}" == "true") {
        nav_left.innerHTML = `
    <a href="#" class="nav_link" style="width:300px">
        <button type="submit">
            Welcome  &emsp;{{username}} 
            <div id=img_cover style="background-image:url({{imgUrl}})">
            </div>
        </button>
    </a>&emsp;
    <form class="nav_link" method="post" action="/logout">
        <button type="submit" id="login_form" >
            LogOut
        </button>
    </form>
`
    }

</script>