<head>
    <title>Login</title>
    <link rel="stylesheet" href="/views/Css/login.css">
</head>
    <div id="nav_bar">
        <img src="https://bublup-media-production.s3.amazonaws.com/e4f91a19-9fa7-428f-a2bd-8dfdc4e41d77/file_uploads/30b9ab3f.svg?response-content-disposition=inline%3B%20filename%3D%22logo.svg%22&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6J6ZXRI3GJ2OJTXR%2F20210526%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210526T110806Z&X-Amz-Expires=7200&X-Amz-SignedHeaders=host&X-Amz-Signature=80681707937d9bf232fdbd7c2241144cc4d34299ef471c9ca71dbda6bf5abe59" id ="logo"></object>
        <span>TheSpiceNet</span>
    </div>
<div id="container">
    <div id="img"></div>
    <div id="side_bar">
        <h3 id="form_heading">User Login</h3>
        <form method="POST" enctype="multipart/form-data" id="login_form">
            <div class="mb-3 mt-0 m-5">
                <label for="emailId" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control"placeholder="Enter Your Username" id="emailId"
                    required>
            </div>
            <div class="mb-3 mt-0 m-5">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter Your Password" id="password" required>
            </div>
            <div id="link">
                <button type="submit" id="button" formaction="#"><span>Login</span></button><br>
                <a href="/signup">Don't have an account yet? Sign Up</a>
            </div>
        </form>
    </div>
</div>