*{
  margin:0px;
}
#signup_form{
  width:100%;
}

#nav_bar{
  display:flex;
  flex-direction: row;
  font-size: 4.5vh;
  font-family: 'Squada One';
  position:absolute;
  padding:1vh 0% 1vh 0%;
  height:8vh;
  top:0px;
  width:100%;
  background-color:black;
  color:#228B22;
}
#logo{
  width:50px;
  height:auto;
}
#container{
  display: flex;
  flex-direction: row;
}
#img{
  background-image: url(https://images7.alphacoders.com/888/thumb-1920-888979.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:70%;
  height: 100vh;
box-shadow: 10px 10px 5px #aaaaaa;
}
#side_bar{
  width:30%;
  padding-top: 10vh;
text-align: center;
}

#button{
margin:5vh 0vh 0vh 0vh;
background-color: #4CAF50;
font-size: large;
font-family: 'Iceberg', cursive;
width:35vh; 
height:10vh;
color: white;
border: none;
border-radius: 3px;
outline: none;
}
#button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button:hover span {
  padding-right: 20px;
}

#button:hover span:after {
  opacity: 1;
  right: 0;
}

#form_heading{
  width:100%;
  font-family: 'Fascinate', cursive;
}


@media only screen and (max-width: 600px) {
  
  #nav_bar{
    flex-direction: column;
    font-family: 'Squada One';
    font-size: 5vh;
    align-items: center;
    height:15vh;
    top:0px;
    width:100%;
    background-color:transparent;
    color:#228B22;
  }
  #logo{
    width:80px;
    height:auto;
  }
    #container{
        width: 57vh;
        display: block;
        color:white;
        margin-top: 12vh;
    }
    #img{
      display: none;
    }
    body{
      background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-senior-restaurant-steak-couple-dating-h5-background-material-image_161501.jpg);
      background-size: cover cover;
      background-position: inherit;
      background-repeat: no-repeat;
    }
    #side_bar{
      width:100%;
      position:absolute;
    }
    #button{
        margin:5vh 0vh 0vh 2vh;
    }
    #form_heading{
      font-family: 'Fascinate', cursive;
      text-align: center;
      width:100%;
    }
  }